<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #f7f5f5;
            background-image: url("/static/img/D000.webp");
            background-repeat: no-repeat;
            background-position: left 8px top 50px;
        }
    </style>
</head>
<body>
    <p>Tank level(%): <strong id="level-value">{{ level }}</strong> Mode: <strong id="mode-value">{{ mode }}</strong></p>
    <div id="container" ></div>
    <script>
        const container = document.getElementById("container");
        function updateLevel() {
            fetch("/level")
                .then(function (res) { return res.json(); })
                .then(function (data) {
                const padded = String(data.level).padStart(3, '0');
                document.getElementById("level-value").textContent = data.level;
                document.getElementById("mode-value").textContent = data.mode;
                if (data.mode == "fill") {
                    container.innerHTML = '<img src="/static/img/F' + padded + '.webp"   >';
                } else {
                    container.innerHTML = '<img src="/static/img/D' + padded + '.webp"   >';
                };  
            });
        };
        updateLevel();
        setInterval(updateLevel, 1000);
    </script>
</body>
</html>
